<h1>Welcome to the homepage</h1>

<header>
  <nav>
    <ul>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a id="logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>

{{#each posts as |post| }}
<div class="row align-center mb-5">
  <div class="col-md-9">
    <a href="/posts/{{id}}">
      <h1 class="title is-4 has-text-link">{{post_name}}</h1>
    </a>
    <p>{{post_description}}</p>
    <h5>Created by: {{post.user.user_name}}</h5>
    <h6>Created on {{format_date post_date_created}}</h6>
    <h6>Post Id: {{id}}</h6>

  </div>
</div>
{{/each}}

<script src="../public/js/logout.js"